.card-content-conatiner {
    border: 1px solid black;
    margin: 20px;
    border-radius: 20px;
    padding: 5px;
    height: 300px;
  
  }
  
  .card{
      border: 1px solid black;
      height: 260px;
    border-radius: 20px;
    margin: 5px;
    background-color: rgb(219, 219, 219);
    display: flex;
    align-items: center;
    justify-content: center;
  
  }