*{
    margin: 0;
    padding: 0;
    color: white;
}

.main-container{
display: flex;
align-items: center;
justify-content: center;
}
.main-container .container{
    border: 9px solid rgb(206, 192, 192);
    margin: 10% auto;
}

.dropdown-btn{
    background-color: purple;
    height: 30px;
    width: 200px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: 10px;

}
ul li{
    list-style: none;
    cursor: pointer;
    padding: 10px;
    color: black;
   
}





.option:hover{
    background-color: rgb(85, 98, 211);
    color: white;
    border: 1px solid black;
}



#dropdown-options{
    display: none;
}

.show{
    display: block;
}